.settings-page {

  .settings-switch {
    height: 26px !important;
    width: 60px;
    margin: 0 30px;

    &:after {
      height: 22px !important;
      width: 22px !important;
    }
  }

  .registration-settings {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;

    h1 {
      margin: 0 80px 0 0;
      color: #464646;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 2.5px;
    }

    label {
      color: #464646;
      font-size: 12px;
      letter-spacing: 1.2px;
    }
  }

  .admin-table {
    .btn-white {
      height: 29px;
      width: 128px;
    }
  }
}
