.navigation-bar {
  // height: calc(100% - 57px);
  // width: 15%;
  // min-height: 100%;
  // box-shadow: 0 2px 7px 0 rgba(0,0,0,0.17);
  // padding: 30px 0 0 0;
  // background: #fff;
  nav {
    background: #53be4f;
    position: fixed;
    height: 100vh;
  }
  a.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #464646;
    font-size: 12px;
    letter-spacing: 0.8px;

    img {
      margin: 0 15px 0 0;
    }

    &:hover {
      background: rgba(216, 216, 216, 0.34);
    }

    div {
      display: flex;
    }

    .active-icon {
      display: none;
    }

    &.active {
      background: #53be4f;
      color: #fff;

      .icon {
        display: none;
      }
      .active-icon {
        display: block;
      }
    }
  }
}
