.authentication-action-btn {
    height: 67px;
    width: 302px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

//------------------------------------
//-------------HOME-----------------
//------------------------------------
.home-page {
    height: 100%;
    .second-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
        //justify-content: center;
        flex-wrap: wrap;
    }

    .title {
        margin: 130px 0 0 0;
        color: #464646;
        font-size: 60px;
        letter-spacing: 4.06px;
        line-height: 65px;
        font-weight: bold;
    }

    .description-to-title {
        margin: 20px 0 0 0;
        color: #464646;
        font-size: 20px;
        letter-spacing: 1.35px;
    }

    .btn {
        margin: 20px 0 0 0;
        letter-spacing: 2px;
    }

    .image-block {
        width: 90%;
        max-width: 500px;
        margin: 50px 0 0 50px;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 860px) {
    .home-page {
        .btn {
            margin: 20px 0 0 0 ;
        }
        .description-to-title {
            font-size: 15px;
        }
        .title {
            font-size: 30px;
            margin: 30px 0 0 0;
        }
        .image-block {
            margin: 50px auto;
        }
    }
}

//------------------------------------
//-----------REGISTRATION-------------
//------------------------------------
.registration-page {
    .checkbox {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: 63px !important;
        // display: flex;
        // width: 30%;
        // margin: 0 !important;

        & > label {
            margin: 0 20px 0 0 !important;
            cursor: pointer;
            padding-left: 8px;
        }
        & > input {
            margin: 0 20px 0 0 !important;
            cursor: pointer;
        }
    }
    & form .confirm .checkbox {
        .ant-checkbox-wrapper {
            .ant-checkbox-checked {
                & .ant-checkbox-inner {
                    background-color: #53be4f;
                    border-color: #53be4f;
                    &:hover {
                        border-color: #53be4f;
                    }
                    &:focus {
                        border-color: #53be4f;
                    }
                }
                &:after {
                    border: 1px solid #53be4f;
                }
            }
        }
    }
    .btn {
        margin: 35px auto 30px;
    }

    .go-to-login {
        text-align: center;

        a {
            font-size: 15px;
            letter-spacing: 1.5px;
            color: #53be4f;
        }
    }

    .confirm {
        // display: flex;
        // justify-content: space-between;
    }
}

.form-title {
    flex-direction: column;
    margin-bottom: 0 !important;

    hr {
        width: 100%;
        border-bottom: 0 solid rgba(0, 0, 0, 0.1) !important;
        margin: 15px 0;
    }
}

.description {
    text-align: center;
    color: #464646;
    font-size: 15px;
    letter-spacing: 1.25px;
    line-height: 18px;
}

.switch-block {

    display: flex;
    justify-content: space-between;

    label {
        //width: 50%;
        color: #464646;
        font-size: 15px;
        letter-spacing: 1.25px;
    }

    .ant-switch {
        height: 45px;
        width: 101px;
        background-color: rgba(191, 191, 191, 0.25);

        &:after {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #53be4f;
            box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.37);
        }
    }
}

.qr-code-block {
    .description {
        color: #464646;
        font-size: 15px;
        letter-spacing: 1.25px;
    }

    .enter-code {
        margin: 20px 0 20px 0;
        text-align: center;
    }
}

.or {
    margin: 20px 0 20px 0;
    text-align: center;
    color: #464646;
    font-size: 15px;
    letter-spacing: 1.25px;
    opacity: 0.5;
}

@media (max-width: 600px) {
    .registration-page {
        .confirm {
            flex-direction: column;
        }
    }
}

//------------------------------------
//--------------LOGIN-----------------
//------------------------------------
.login-page {
    .btn {
        width: 302px;
        height: 67px;
        margin: 35px auto 30px;
        font-size: 20px;
    }

    .go-to-reset-pas {
        text-align: end;
        margin: 0 0 15px 0;

        a {
            color: #53be4f;
            font-size: 15px;
            letter-spacing: 1.5px;
        }
    }

    .go-to-login {
        text-align: center;

        a {
            font-size: 15px;
            letter-spacing: 1.5px;
            color: #53be4f;
        }
    }
}

//------------------------------------
//-------------RESET PASS-------------
//------------------------------------
.reset-password-page {
    .go-to-login {
        text-align: center;
        margin: 30px 0 0 0;

        a {
            font-family: Roboto;
            font-size: 15px;
            letter-spacing: 1.5px;
            color: #53be4f;
        }
    }

    .description {
        margin: 0 0 45px 0;
        color: #464646;
        text-align: center;
        font-size: 15px;
        letter-spacing: 1.25px;
    }

    .recaptcha {
        margin: 50px auto;
        display: flex;
        justify-content: center;
    }
}
.qrCode {
    text-align: center;
}
