@import 'variables';
footer {
    box-shadow: 0 4px 26px $box-shadow-color;
    .footer {
        padding: 24px 24px;
        min-height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            & a:not(:first-child) {
                margin-left: 50px;
            }
            & a {
                color: $font-color-default;
                @media screen and (max-width: 992px) {
                    width: 49%;
                    margin-left: 0 !important;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 768px) {
                    width: 100%;
                    text-align: right;
                }
                &:hover {
                    text-decoration: underline;
                    color: $font-color-default;
                }
            }
        }
    }
}
