@import 'variables';
.header {
    height: 85px;
    padding: 15px 24px;
    box-shadow: 0 4px 15px $box-shadow-color;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 52px;
        height: 50px;
    }
    .inverted {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    .mobile-login {
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            display: none;
        }
        .mobile-login-link {
            font-size: 18px;
            font-weight: bold;
            color: #28b366;
            margin-right: 10px;
            &:hover {
                color: #28b366;
            }
        }
    }
    .excheange-btn {
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
    &__user-nav {
        margin-left: auto;
        @media screen and (max-width: 992px) {
            display: none;
        }
        a {
            color: $main-color;
            margin-left: 30px;
            font-size: $font-size-text;
            &:hover {
                text-decoration: underline;
                color: $main-color;
            }
            i {
                margin-right: 5px;
            }
        }
        .active-link {
        }
    }
}
.bm-cross {
    background: $main-color;
}
.menu {
    &__mobile {
        flex-direction: column;
        display: flex;

        padding: 100px 20px 20px 20px;
        & a {
            display: block;
            &:first-child {
                margin-bottom: 20px;
            }
            &:not(:first-child) {
                height: 50px;
                color: $main-color;
                font-size: $font-size-text;
                padding-left: 20px;
                &:hover {
                    color: #1b864b;
                }
                //width: 100%;
            }
        }
    }
}
.burger-menu-btn {
    color: $main-color !important;
    font-size: 24px;

    @media screen and (min-width: 992px) {
        display: none !important;
    }
}
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}
.bm-overlay {
    left: 0;
    top: 0;
}
.bm-menu-wrap {
    background: #fff;
    box-shadow: 0 4px 15px rgba(148, 148, 148, 0.25);
    top: 0;
}
