@import 'variables';
.main {
    .welcome-block {
        position: relative;

        padding: 60px 0 120px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        @media screen and (min-width: 992px) {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            padding: 60px 0 60px 0;
            //align-items: center;
        }
        &__left {
            @media screen and (min-width: 992px) {
                padding-top: 60px;
            }

            a {
                position: absolute;
                bottom: 50px;

                @media screen and (min-width: 992px) {
                    position: static !important;
                }
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__title {
            font-weight: bold;
            //font-size: 36px;
            //margin-bottom: 32px;
            @media screen and (min-width: 1200px) {
                font-size: 50px;
            }
        }
        &__subtitle {
            font-size: $font-size-text;
            margin-bottom: 40px;
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
            @media screen and (min-width: 1200px) {
                font-size: 20px;
            }
        }
        &__right {
            img {
                max-width: 375px;
                width: 100%;
                @media screen and (min-width: 992px) {
                    max-width: unset !important;
                }
            }
        }
    }
}
.video {
    //height: 360px;
    padding: 56px 30px;
    text-align: center;
    background: linear-gradient(90deg, #d5ffe8 0%, #fcfcfc 51.47%);
    box-shadow: inset 0 1px 19px rgba(182, 182, 182, 0.25);
    @media screen and (min-width: 992px) {
        padding: 0;
    }
    &__image {
        img {
            width: 100%;
        }
        z-index: 2;
    }
    &__play {
        z-index: 2;
        transition: $transition-simple;
        &:hover {
            transform: scale(1.2);
            transition: $transition-simple;
        }
    }
    &__play {
        cursor: pointer;
    }
    &__block {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__lines {
        display: none;
        position: absolute;
        z-index: 1;
        left: 31%;
        & img {
            height: 279px;
        }
        @media screen and (min-width: 992px) {
            display: block;
        }
    }
    &__text {
        color: $font-color-default;
        font-size: $font-size-text;
        margin-bottom: 30px;
        @media screen and (min-width: 992px) {
            margin: 0;
            font-size: $font-size-text-big;
            width: 30%;
        }
    }
}
.video__iframe {
    .subtitle {
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 768px) {
        width: 100% !important;
    }
    & .ant-modal-body {
        & > div {
            @media screen and (max-width: 768px) {
                width: 100% !important;
            }
        }
    }
}
.why-us {
    padding: 100px 24px 40px 24px;
    position: relative;
    &__arrow-container {
        position: absolute;

        width: 103%;
        height: 98%;
        &.mobile {
            @media screen and (min-width: 992px) {
                display: none;
            }
            @media screen and (max-width: 768px) {
                width: 90%;
                left: 50%;
                transform: translateX(-50%);
            }
            & img {
                display: block;
                position: absolute;
                &:first-child {
                    right: 0;
                    top: 10%;
                    @media screen and (min-width: 768px) {
                        top: 2%;
                    }
                }
                &:nth-child(2) {
                    left: 0;
                    top: 25%;
                    @media screen and (min-width: 768px) {
                        top: 17%;
                        left: -5%;
                    }
                }
                &:nth-child(3) {
                    right: 0;
                    top: 40%;
                    @media screen and (min-width: 768px) {
                        top: 47%;
                    }
                }
                &:nth-child(4) {
                    left: -5px;
                    top: 55%;
                    @media screen and (min-width: 768px) {
                        left: -5%;
                        top: 71%;
                    }
                }
                &:nth-child(5) {
                    right: 0;
                    top: 70%;
                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }
                &:nth-child(6) {
                    bottom: 4%;
                    left: 50%;
                    transform: translateX(-50%);
                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        &.desktop {
            background: url(./assets/arrow.png);
            background-repeat: no-repeat;
            background-position: 49px 31px;
            background-size: 90% 93%;

            @media screen and (max-width: 992px) {
                display: none;
            }
            @media screen and (max-width: 1200px) {
                background-position: 7px 31px !important;
                background-size: 95% 93%;
            }
        }
    }

    &__block {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__item {
        text-align: center;
        @media screen and (min-width: 768px) {
            width: 45%;
        }
        @media screen and (min-width: 992px) {
            width: 32%;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        & > img {
            margin-bottom: 30px;
        }
        & > p {
            font-size: $font-size-text;
            color: $font-color-default;
        }
    }
}
.about {
    padding: 25px 24px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__text {
        color: $font-color-default;
        font-size: $font-size-text;
        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }
    &__image {
        margin-bottom: 30px;
        text-align: center;

        img {
            width: 80%;
        }
        @media screen and (min-width: 992px) {
            margin: 0;
        }
    }
}
.how {
    padding-top: 20px;
    &__auth-block {
        padding: $padding-container;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: 992px) {
            flex-direction: row;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        //justify-content: space-between;
        padding: 15px 20px;
        min-height: 220px;

        background-repeat: no-repeat;
        background-size: 100% 100%;
        @media screen and (min-width: 992px) {
            width: 32% !important;
            flex-direction: row;

            min-height: 150px;
        }
        & > img {
            width: 60px;
            margin-bottom: 10px;
            @media screen and (min-width: 992px) {
                width: unset !important;
                margin-bottom: 0;
            }
        }
        & > p {
            font-size: 14px;
            margin-left: 30px;
            margin-bottom: 0;
            color: $white;
        }
        &:first-child {
            //background: linear-gradient(270deg, #6cdea0 0%, #b9ffd8 99.34%);
            background-image: url(./assets/how-arrow-bg_4.png);
            @media screen and (min-width: 992px) {
                background-image: url(./assets/how-arrow-bg_1.png);
            }
        }
        &:last-child {
            padding-left: 5%;
            background-image: url(./assets/how-arrow-bg_6.png);
            justify-content: center;
            @media screen and (min-width: 992px) {
                background-image: url(./assets/how-arrow-bg_3.png);

            }
        }
        &:nth-child(2) {
            padding-left: 5%;
            padding-right: 35px;
            background-image: url(./assets/how-arrow-bg_5.png);
            justify-content: center;
            @media screen and (min-width: 992px) {
                background-image: url(./assets/how-arrow-bg_2.png);
            }
        }
    }
    &__about-blocks-block {
        padding: $padding-container;
        @media screen and (min-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: 992px) {
            width: 22%;
        }
        & img {
            @media screen and (min-width: 992px) {
                width: 80%;
            }
        }
        & p {
            color: $font-color-default;
            font-size: $font-size-text;
            margin-top: 20px;
            width: 80%;
            @media screen and (min-width: 992px) {
                width: 100%;
            }
        }
    }
}
.contacts {
    background: linear-gradient(90deg, #fcfcfc 51.47%, #d5ffe8 98.82%);
    box-shadow: $box-shadow-inner;
    &__block {
        padding: $padding-container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    & .title {
        text-align: left;
    }
    &__image {
        & img {
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__info {
        p {
            display: flex;
            align-items: center;
            color: $font-color-default;
            font-size: $font-size-text-big;
            & img {
                margin-right: 20px;
            }
        }
    }
}
