@import 'variables';
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1320px;
    @media screen and (min-width: 576px) {
        width: 552px;
    }
    @media screen and (min-width: 768px) {
        width: 645px;
    }
    @media screen and (min-width: 992px) {
        width: 960px;
    }
    @media screen and (min-width: 1200px) {
        width: 1100px;
    }
    @media screen and (min-width: 1440px) {
        width: 1290px;
    }
}

.btn-base {
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    padding: 12px 48px;
    background: transparent;
    cursor: pointer;
    line-height: 1.3;
    height: 50px;
    font-family: $btn-font;
    transition: $transition-simple;
    &:hover {
        transition: $transition-simple;
    }
}
.filled {
    background: $main-color;
    color: $white;
    border: 1.5px solid $main-color;
    &:hover {
        background: $white;
        color: $main-color;
    }
}

.inverted {
    color: $main-color;
    border: 1.5px solid $main-color;
    &:hover {
        color: $white;
        background: $main-color;
        transition: $transition-simple;
    }
}
.title-m {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bold;
    color: $font-color-default;
    @media screen and (max-width: 768px){
        font-size: 24px;
    }
}
.wr-padding {
    padding: 25px 20px;
}
.subtitle {
    color: $font-color-default;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 768px){
        font-size: 18px;
    }
}
