$main-color: #28b366;
$white: #fff;
$font-color-default: #252525;

$btn-font: 'Roboto', Arial, sans-serif;

$transition-simple: 0.2s ease-in-out;

$box-shadow-color: rgba(148, 148, 148, 0.25);
$box-shadow-inner: inset 0 1px 19px rgba(182, 182, 182, 0.25);

$padding-container: 25px 24px 55px 24px;
$font-size-text: 18px;
$font-size-text-big: 24px;
$font-size-title: 36px;
