.commissions-setting-page {

  .wrap {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;

    .pair-list {
      width: 40%;
      border: 1px solid #DEDEDE;
      border-radius: 2px;
      background-color: #FFFFFF;
      padding: 30px 20px;

      .title {
        margin: 0 0 30px 0;
        color: #464646;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2.5px;
      }

      .list {
        .ant-menu {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          border: 0;

          li {
            width: 45%;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border: 1px solid #D9D9D9;
            border-top: 0;
            background-color: #FFFFFF;

            &:hover {
              color: #53BE4F;
            }

            &.ant-menu-item-selected {
              background-color: #53BE4F;
              color: #fff;

              &::after {
                display: none;
              }
            }

            &:first-child,
            &:nth-child(2) {
              border-top: 1px solid #D9D9D9;
            }
          }

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }

    .pair-fee {
      width: 55%;
      padding: 30px 20px;
      border: 1px solid #DEDEDE;
      border-radius: 2px;
      background-color: #FFFFFF;

      .title {
        margin: 0 0 50px 0;
        color: #53BE4F;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2.5px;
      }

      .label-row {
        display: flex;
        justify-content: space-between;

        label {
          color: #464646;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1.25px;
        }
      }

      .fee-item {
        display: flex;
        justify-content: space-between;
        padding: 13px 7px;

        .type {
          width: 150px;
        }

        .steps {
          display: flex;
          align-items: flex-end;

          .hyphen {
            margin: 0 5px 18px 5px;
            width: 18px;
            border: 1px solid #53BE4F;
          }

          .from,
          .to {
            width: 100px;
          }
        }

        .anticon-arrow-right {
          color: #53BE4F;
          display: flex;
          align-items: flex-end;
          margin: 0 0 12px 0;
        }

        .fee {
          width: 120px;
        }
      }
    }
  }
}
