.contracts-page {
    .total-wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1170px) {
            flex-direction: column;
        }
    }
    .total-part-content {
        width: 45%;
        @media screen and (max-width: 1170px) {
            width: 100%;
        }
    }
    .page-title {
        margin: 0 0 30px 0;
        color: #464646;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 2.5px;
        @media screen and (max-width: 600px) {
            font-size: 20px;
        }
    }

    .total-block {
        //width: 45%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px 0;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        div {
            width: 45%;
            //height: 110px;
            &:first-child {
                margin-right: 10px;
            }
            @media screen and (max-width: 1170px) {
                width: 48%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 12px;
            }
            align-items: center;
            padding: 20px 20px 20px 25px;
            border-radius: 15px;
            box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);

            .title {
                color: #464646;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 2px;
                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }

            .value {
                display: block;
                color: #464646;
                font-size: 18px;
                letter-spacing: 2px;
                margin-top: 10px;
                & > span {
                    font-weight: bold;
                    color: #4a90e2;
                }
            }
        }
    }

    .active-contracts {
        margin: 0 0 30px 0;
        .user-table {
            //.ant-table-wrapper {
            //    @media screen and (max-width: 768px) {
            //        overflow-x: scroll;
            //    }
            //}
        }
        .actions {
            .btn {
                height: 30px;
                width: 100%;

                &:first-child {
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
.filters-wrapper {
    margin-bottom: 20px;

    background: rgba(224, 224, 224, 0.5);
    padding: 10px;
    & > .reset {
        padding: 10px 13px;
    }
}
.history-filters {
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    & .form-item {
        margin-bottom: 20px;
        &__filters-date-block {
            display: flex;
            align-items: center;
            .ant-calendar-picker:first-child {
                margin-right: 20px;
            }
            input {
                height: 47px;
                padding: 0 20px;
                border-radius: 23px;
                border: 0;
                background-color: rgba(191, 191, 191, 0.25);
                font-size: 14px;
            }
        }
    }
    & .form-item:not(:last-child) {
        width: 200px;
        margin-right: 20px;
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
    .ant-input {
        height: unset;
        border: none;
        background: transparent;
    }
}
.active-orders.user-table {
    margin: 0 0 30px 0;
    // overflow-x: scroll;
    .table-title {
        background: #53be4f;
        color: #fff;
    }

    .btn {
        height: 30px;
        padding: 0 15px;
    }
}
.orders-page {
    .open-orders {
        margin: 0 0 30px 0;

        // .actions {
        .btn {
            height: 30px;
            padding: 0 20px;
        }
        // }
    }
}

.trade-history {
    img {
        width: 16px;
        height: 14px;
        margin: 0 10px 0 0;
    }
}
