.dashboard-page {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "siteStatistics accountsStatistics" "contractsStatistics contractsStatistics";
  @media screen and (max-width: 768px) {
    grid-template-areas: "siteStatistics siteStatistics " "accountsStatistics accountsStatistics" "contractsStatistics contractsStatistics";
  }
  .block-title {
    color: #464646;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #dedede;
  }

  .site-statistics {
    grid-area: siteStatistics;

    .all-info {
      display: flex;
      justify-content: space-around;
      margin: 35px 0 0 0;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          color: #464646;
          font-size: 15px;
          letter-spacing: 1.25px;
          margin: 20px 0 25px 0;
        }

        .value {
          color: #464646;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 3px;
        }
      }
    }
  }

  .accounts-statistics {
    grid-area: accountsStatistics;

    .params-item {
      display: flex;
      align-items: center;
      margin: 20px 0 0 0;
      padding: 0 0 0 30px;

      label {
        margin: 0 0 0 20px;
        color: #464646;
        font-size: 15px;
        letter-spacing: 1.25px;
      }

      .value {
        width: 30%;
        display: block;
        text-align: center;
        margin: 0 20px 0 auto;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2.5px;

        &.red {
          color: #d40923;
        }
        &.green {
          color: #57c053;
        }
        &.orange {
          color: #f5a623;
        }
      }
    }
  }

  .contracts-statistics {
    grid-area: contractsStatistics;
  }
}
.contracts-statistics {
  .admin-table {
    overflow: auto;
  }
}
