.accounts-page {
  .statistics {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;

    .params-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-around;

      padding: 30px 0;
      height: 166px;
      width: 210px;
      border: 1px solid #dedede;
      border-radius: 2px;
      background-color: #ffffff;
      &:not(:last-child) {
        margin: 0 30px 0 0;
      }
      label {
        color: #464646;
        font-size: 15px;
        letter-spacing: 1.25px;
      }

      .value {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2.5px;

        &.red {
          color: #d40923;
        }
        &.green {
          color: #57c053;
        }
        &.orange {
          color: #f5a623;
        }
      }
    }
  }
}
