.commissions-page {
}
.popup-commission {
    padding: 80px 20px;
    text-align: center;
    width: 300px;
    & h2 {
        margin-bottom: 30px;
    }
    & input {
        width: 100%;
        height: 40px;
        border: 1px solid #dedede;
        border-radius: 15px;
        padding: 13px;
        background-color: #ffffff;
    }
}
.commision-btn {
    margin: 20px auto 0 auto;
    height: 40px !important;
    width: 120px;
}
