.contracts-statistics {
  margin: 0 0 30px 0;

  .block-title {
    border: 0;
    text-align: center;
    color: #464646;

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 0 0 30px 0;

    img {
      margin: 0 20px 0 0;
    }
  }
}
