.balance-page {
    .page-title {
        margin: 0 0 20px 0;
        color: #464646;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 2.5px;
    }
    .total-balance {
        width: 60%;
        //height: 150px;
        margin: 0 0 30px 0;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 15px;
        box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        .total-wr {
            display: flex;

            & > div:first-child {
                margin-right: 20px;
            }
            & > div p:last-child {
                margin-bottom: 0;
            }
        }
        .title {
            color: #464646;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2.5px;
            margin-right: 20px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }

        .value {
            color: #464646;
            font-size: 20px;
            letter-spacing: 2.5px;

            .total-price {
                color: #53be4f;
            }
            .total-reserved {
                color: #3e70b6;
            }

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }

        .btn {
            height: 43px;
            padding: 0 5%;
            margin-left:  auto;
            @media screen and (max-width: 1100px) {
                margin-top: 10px;
            }
        }
    }

    .deposit-history {
        margin: 0 0 30px 0;
    }
}
.form-item {
    .balance-input {
        margin: 30px 0;
    }
    .btn {
        margin-left: auto;
        width: 110px;
        height: 40px;
    }
}
.form-item.balance-invoice-block {
    width: 400px;
}
