.contract-page {
    .short-information {
        margin: 30px 0 30px 0;

        .id {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #464646;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2.5px;
            @media screen and (max-width: 576px) {
                flex-direction: column;
            }
            .date {
                color: #666666;
                font-size: 15px;
                letter-spacing: 1.25px;
                font-weight: 100;
                @media screen and (max-width: 576px) {
                    margin-bottom: 20px;
                }
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            .form-item {
                width: 230px !important;
                margin: 0 150px 20px 0;
                @media screen and (max-width: 768px) {
                    margin: 0 20px 20px 0;
                }
                .ant-select-selection--single {
                    height: 36px;
                    background: #fff;
                    border: 1px solid #dedede;
                    border-radius: 0 18px 18px 0;
                }

                .ant-select-selection-selected-value {
                    line-height: 36px;
                }
            }
        }
    }

    .all-info {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-areas: 'seller buyer' 'detailedInformation comment';

        .seller-block {
            grid-area: seller;
        }

        .buyer-block {
            grid-area: buyer;
        }

        .detailed-information {
            grid-area: detailedInformation;
        }

        .comment {
            grid-area: comment;
            display: flex;
            flex-direction: column;
            .form-item {
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }
            .btn {
                height: 43px;
                width: 184px;
                margin: auto 0 15px auto;
            }
        }

        .block {
            padding: 30px 20px;
            background-color: rgba(224, 224, 224, 0.2);

            .form-tem {
                display: flex;
                flex-direction: column;
                margin: 0 0 15px 0;

                label {
                    opacity: 0.9;
                    color: #464646;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                }

                span {
                    color: #464646;
                    font-size: 15px;
                    letter-spacing: 1.25px;
                }
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
            color: #464646;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1.25px;

            .id {
                color: #53be4f;
                font-size: 15px;
                letter-spacing: 1.25px;
            }
        }
    }
}
