.user-page {
    display: grid;
    //grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: 'backLink backLink' 'shortInfo balance' 'shortInfo accounts' 'tabsBlock tabsBlock';

    @media screen and (max-width: 1024px) {
        grid-template-areas: 'backLink backLink' 'shortInfo shortInfo' 'shortInfo shortInfo' 'balance balance' 'accounts accounts' 'tabsBlock tabsBlock';
    }
    .bill-red {
        color: red;
    }
    .bill-green {
        color: #57c053;
    }
    .bill-yellow {
        color: #f5a623;
    }

    .short-info {
        grid-area: shortInfo;

        .user-id {
            display: flex;
            justify-content: space-between;
            color: #666666;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 1.25px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            span:first-child {
                color: #464646;
            }
        }

        .user-name {
            display: flex;

            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            padding-bottom: 50px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .name {
                margin: 0 30px 0 0;
                color: #464646;
                font-size: 25px;
                flex-basis: 60%;
                font-weight: bold;
                letter-spacing: 2.5px;
            }

            .verification-status {
                border-radius: 4px;
                margin: 0;
                padding: 3px 10px;
                height: 23px;
                color: #ffffff;
                font-size: 12px;
                @media screen and (max-width: 768px) {
                    margin: 0 0 0 0;
                }
                &.notVerified {
                    background-color: rgb(214, 80, 80) !important;
                }
            }

            .verification-action {
                margin: 0 0 0 10px;
                color: #d0021b;
                font-size: 10px;
                letter-spacing: 0.83px;
                text-decoration: underline;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    margin: 0;
                }
            }
        }

        .user-email {
            display: flex;
            justify-content: space-between;

            font-size: 15px;
            letter-spacing: 1.25px;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            span {
                &:first-child {
                    color: #53be4f;
                }

                &:last-child {
                    color: #4a90e2;

                    i {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }

        .calculation-select {
            margin: 30px 0 40px 0;
            padding: 25px 0;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;

            .form-item {
                width: 230px;
            }
        }

        .blocked-block {
            // display: flex;
            // justify-content: space-between;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            .status-reason {
                font-size: 20px;
                margin: 5px 0 0 0;
                color: #4a90e2;
            }
            .status {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    opacity: 0.9;
                    color: #464646;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                }

                span {
                    color: #4a90e2;
                    font-size: 15px;
                    letter-spacing: 1.25px;
                }
            }

            .form-item {
                flex-direction: row;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                input {
                    width: 225px;
                }

                .btn {
                    height: 43px;
                    width: 184px;
                    margin: 0 0 0 35px;
                    @media screen and (max-width: 768px) {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    .balance {
        grid-area: balance;

        .title {
            margin: 0 0 30px 0;
            color: #464646;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2.5px;
            text-align: center;
        }

        .balance-action {
            //display: flex;
            //justify-content: space-between;

            & > div {
                font-size: 22px;
                display: flex;
                justify-content: space-between;
            }
            .total-balance {
                & > div {
                    color: #53be4f;
                }
            }
            .frozen-balance {
                & > div {
                    color: #4a90e2;
                }
                margin-bottom: 20px;
            }
            .btn {
                margin: 0 auto;
                height: 43px;
                width: 184px;
            }
        }
    }

    .accounts {
        grid-area: accounts;

        .title {
            margin: 0 0 20px 0;
            color: #464646;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2.5px;
            text-align: center;
        }

        .params-item {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0;

            label {
                margin: 0 0 0 20px;
                color: #464646;
                font-size: 15px;
                letter-spacing: 1.25px;
            }

            .value {
                width: 30%;
                display: block;
                text-align: right;
                margin: 0 20px 0 auto;
                font-size: 25px;
                font-weight: bold;
                letter-spacing: 2.5px;

                &.red {
                    color: #d40923;
                }

                &.green {
                    color: #57c053;
                }

                &.orange {
                    color: #f5a623;
                }
            }
        }
    }

    .tabs-block {
        grid-area: tabsBlock;
        margin-bottom: 50px;
        background: #fff;
        .ant-tabs {
            .ant-tabs-content {
                @media screen and (max-width: 900px) {
                    overflow-x: scroll;
                }
            }
        }

        .ant-tabs-bar {
            margin: 0;
            @media screen and (max-width: 768px) {
                overflow: auto;
            }
            .ant-tabs-nav-container {
                overflow: scroll;
            }
        }

        .ant-tabs-nav {
            width: 100%;

            div {
                display: flex;

                .ant-tabs-tab {
                    height: 54px;
                    flex: 1;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #d9d9d9;
                    border-right: 0;
                    color: #53be4f;
                    font-size: 12px;
                    letter-spacing: 0.8px;

                    &:last-child {
                        border-right: 1px solid #d9d9d9;
                    }

                    &.ant-tabs-tab-active {
                        background-color: #53be4f;
                        color: #fff;
                    }
                }
            }

            .ant-tabs-ink-bar {
                display: none !important;
            }
        }

        .ant-tabs-content {
            padding: 20px;
            border: 1px solid #dedede;
            border-top: 0;
        }

        //  KYC
        .kyc-block {
            display: flex;
            justify-content: space-between;
            div {
                //margin: 0 5% 0 0;
                .block-title {
                    height: 60px;
                    margin: 0 0 30px 0;
                    color: #464646;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                }

                .item {
                    margin: 0 0 20px 0;
                    label {
                        margin: 0 0 7px 0;
                        opacity: 0.8;
                        color: #464646;
                        text-decoration: underline;
                        font-size: 12px;
                        letter-spacing: 1.2px;
                    }

                    .value {
                        color: #464646;
                        font-size: 15px;
                        letter-spacing: 1.25px;
                    }
                }
            }
        }
    }
}

.top-up-balance {
    width: 650px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .modal-title {
        width: 100%;
        padding: 30px 0;
        color: #464646;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2.5px;
        text-align: center;
        border-bottom: 1px solid #e09c9c;
    }

    .form-item {
        min-width: 310px;

        label {
            text-align: right;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .btn {
            height: 43px;
            width: 200px;
        }
    }
}
