.legal-data-page {
  .admin-table {
    .btn {
      width: 128px;
      height: 29px;
    }
  }
}
.actions {
  display: flex;
}
.legal-form {
  background-color: #fff;
  padding: 30px 20px;

  .legal-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  button {
    height: 43px;
    width: 184px;
  }
}
.legal-input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-item {
    flex-basis: 40%;
    margin-bottom: 20px;
  }
}
